{% extends "checker/layout.html" %}

{% block title %}
All duties details
{% endblock %}

{% block body %}
<form action="{% url 'all_duty_details' %}" method="get">
<label for="day_range">Choose a day:</label>
<select name="day_range" id="day_range">
    <option value="" disabled selected>Select a day range..</option>
    <option value="monday">Monday - Thursday</option>
    <option value="friday">Friday</option>
    <option value="saturday">Saturday</option>
    <option value="sunday">Sunday</option>
</select>
    <input type="submit" value="Check duties">
</form>
<br>
<h2> Duty range selected: <b>{{ display_day.title }}</b> </h2>
<table rules="all">
    <tr>
        <th>Duty no:</th>
        <th>Route no:</th>
        <th>Start time</th>
        <th>Finish time</th>
        <th>Duty card</th>
    </tr>
    {% for item in details %}
    <tr>
        <th>{{ item.duty }}</th>
        <th>{{ item.duty.route }}</th>
        <th>{{ item.start_time|time:"H:i" }}</th>
        <th>{{ item.finish_time|time:"H:i" }}</th>
        <th><a href="{% url 'duty_card' day_range item.duty %}" target="_blank">open duty card</a></th>
    </tr>
    {% empty %}
    {{ 'please select a day range' }}
    {% endfor %}

</table>

{% endblock %}