{% extends "checker/layout.html" %}

{% block title %}
One day checker
{% endblock %}

{% block body %}

    {{ chosen_day.capitalize }}
    {{ given_date }}
<br>
<form action="{% url 'daily_checker_today' %}" method="post">
    {% csrf_token %}
    <label for="date"> Enter date to display: </label>
    <input type="date" id="date"  name="searched_date" value="{{given_date}}">
    <input type="submit" name="submit">
</form>
<br>
<a href="{% url 'daily_checker' prev_day %}"> Previous day</a>
<a href="{% url 'daily_checker' next_day %}"> Next day</a>
 <table rules="all">
        <tr>
            <th>Drivers</th>
            <th>duty details<br>{{ chosen_day }}</th>
            <th>start time</th>
            <th>finish time</th>
        </tr>
         {% for driver, duty, detail in mixed %}
        <tr>
            <td> {{ driver }} </td>
            <td> {{ duty }} </td>
            <td> {{ detail.start_time|time:"H:i" }}</td>
            <td> {{ detail.finish_time|time:"H:i" }}</td>
        </tr>
     {% endfor %}
 </table>

{% endblock %}