{% extends "checker/layout.html" %}

{% block title %}
One day checker
{% endblock %}

{% block body %}

    {{ chosen_day.capitalize}}
    {{ chosen_date }}
<br>


 <table rules="all">
        <tr>
            <th>Drivers</th>
            <th>duty details {{ chosen_day }}</th>
        </tr>
         {% for driver, duty, detail in mixed%}
        <tr>
            <td> {{ driver }} </td>
            <td> {{ duty }} </td>
            <td> {{ detail.start_time }}</td>
            <td> {{ detail.finish_time }}</td>
        </tr>
     {% endfor %}
 </table>

{% endblock %}