{% extends "checker/layout.html" %}

{% block title %}
Duty details
{% endblock %}

{% block body %}
<div class="main-custom">
<h2> Duty details:</h2>

<p>Day: <b>{{ day.capitalize }}</b></p>
<p> Duty number: <b>{{ duty }}</b></p>
<p>Start time: <b>{{ details.start_time|time:"H:i" }}</b></p>
<p>Finish time: <b>{{ details.finish_time|time:"H:i" }}</b></p>
      <button type="button" class="btn btn-primary link-warning" onclick="location.href='{% url 'checker:duty_card' day duty %}'">see duty card</button>
    <br><br>
      <button type="button" class="btn btn-secondary link-warning" onclick="location.href='{{ request.META.HTTP_REFERER }}'">Return to previous view</button>

</div>
{% endblock %}
