{% extends "checker/layout.html" %}

{% block title %}
Full Week Rota
{% endblock %}

{% block body %}
    date: {{ given_date }}, {{ chosen_day.capitalize}}
<br>
    week commencing: {{ week_commencing }}
<br>
<form action="" method="post">
    {% csrf_token %}
    <label for="date"> Enter date for all week view: </label>
    <input type="date" id="date" name="searched_date" value="{{ given_date }}">
    <input type="submit" name="submit">
</form>
    <table rules="all">
        <tr>
            <th>Drivers</th>
            {% for day in weekdays %}
            {% if day == chosen_day %}
            <th><h3>{{ day.capitalize }}</h3></th>
            {% else %}
            <th>{{ day.capitalize }}</th>
            {% endif %}
            {% endfor %}
        </tr>
    {% for driver, line in mixed %}
        <tr>
            <td>{{ driver.name }}</td>
            <td><a href="{% url 'duty_details' 'saturday' line.0 %}">{{ line.0 }}</a> </td>
            <td><a href="{% url 'duty_details' 'sunday' line.1 %}">{{ line.1 }}</a> </td>
            <td><a href="{% url 'duty_details' 'monday' line.2 %}">{{ line.2 }}</a> </td>
            <td><a href="{% url 'duty_details' 'tuesday' line.3 %}">{{ line.3 }}</a> </td>
            <td><a href="{% url 'duty_details' 'wednesday' line.4 %}">{{ line.4 }}</a> </td>
            <td><a href="{% url 'duty_details' 'thursday' line.5 %}">{{ line.5 }}</a> </td>
            <td><a href="{% url 'duty_details' 'saturday' line.6 %}">{{ line.6 }}</a> </td>
        </tr>
         {% endfor %}
       </table>
{% endblock %}