{% extends "checker/layout.html" %}

{% block title %}
Main Page
{% endblock %}

{% block body %}

<div class="container main-custom main-page">
  <h2>Welcome!! Please choose one of the following options:</h2>
  <div class="d-grid gap-2 col-6 mx-auto" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-danger btn-lg link-dark" onclick="location.href='{%url 'checker:full_rota_solo' %}'">Full week view</button>
    <button type="button" class="btn btn-warning btn-lg link-dark" onclick="location.href='{% url 'checker:all_duty_details' %}'">All duty times</button>
    <button type="button" class="btn btn-success btn-lg link-dark" onclick="location.href='{% url 'checker:daily_checker_today' %}'">Today's schedule</button>
    <button type="button" class="btn btn-info btn-lg link-dark" onclick="location.href='{% url 'holidays:holidays' %}'">Holidays</button>
    <button type="button" class="btn btn-secondary btn-lg link-dark" onclick="location.href='{% url 'checker:door_codes' %}'">Door codes</button>
  </div>
</div>





{% endblock %}