.background-1 {

}

.login {
    height: 100px;
}

#not-logged {
    margin-top: 10%;
}

#name {
    padding-bottom: 5px;
    width: 225px;
}

#password {
    padding-bottom: 5px;
    width: 130px;
}

.label {
    margin: 5px;
}

.main-custom {
    text-align: center;
}

.main-custom a:link{
    text-decoration: none;
}

.main-custom a:active{
    color: yellow;
}

.main-page {
    margin-top: 10%;
}

.table-date-heading {
    word-spacing: 100px;
}

#chosenday {
    color: red;
}

.doorcode-table {
    text-align: left;
}

.login-form {

}

