.background-1 {
    background-image: url('images/shot.png');
}

.main-custom {
    text-align: center;
}

.main-custom a:link{
    text-decoration: none;
}

.main-custom a:active{
    color: yellow;
}

.main-page {
    margin-top: 10%;
}

.table-date-heading {
    word-spacing: 100px;
}

#chosenday {
    color: red;
}

.doorcode-table {
    text-align: left;
}