.background-1 {

}
#label {
    margin: 5px;
}

.main-custom {
    text-align: center;
}

.main-custom a:link{
    text-decoration: none;
}

.main-custom a:active{
    color: yellow;
}

.main-page {
    margin-top: 10%;
    background-image: url('images/notepadpencil.jpg');
}

.table-date-heading {
    word-spacing: 100px;
}

#chosenday {
    color: red;
}

.doorcode-table {
    text-align: left;
}

